<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>CurePlus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Login.Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Login.Controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDoctorsServlet</display-name>
    <servlet-name>ViewAllDoctorsServlet</servlet-name>
    <servlet-class>com.AdminContent.Doctor.Controller.ViewAllDoctorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDoctorsServlet</servlet-name>
    <url-pattern>/viewAllDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDoctorServlet</display-name>
    <servlet-name>UpdateDoctorServlet</servlet-name>
    <servlet-class>com.AdminContent.Doctor.Controller.UpdateDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDoctorServlet</servlet-name>
    <url-pattern>/updateDoc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctorServlet</display-name>
    <servlet-name>DeleteDoctorServlet</servlet-name>
    <servlet-class>com.AdminContent.Doctor.Controller.DeleteDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctorServlet</servlet-name>
    <url-pattern>/deleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDoctorServlet</display-name>
    <servlet-name>InsertDoctorServlet</servlet-name>
    <servlet-class>com.AdminContent.Doctor.Controller.InsertDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDoctorServlet</servlet-name>
    <url-pattern>/InsertDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdminServlet</display-name>
    <servlet-name>InsertAdminServlet</servlet-name>
    <servlet-class>com.Admin.Controller.InsertAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdminServlet</servlet-name>
    <url-pattern>/InsertAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.Admin.Controller.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>com.Admin.Controller.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <url-pattern>/deleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPatientServlet</display-name>
    <servlet-name>InsertPatientServlet</servlet-name>
    <servlet-class>com.Patient.Controller.InsertPatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPatientServlet</servlet-name>
    <url-pattern>/insertPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientProfileUpdateServlet</display-name>
    <servlet-name>PatientProfileUpdateServlet</servlet-name>
    <servlet-class>com.Patient.Controller.PatientProfileUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientProfileUpdateServlet</servlet-name>
    <url-pattern>/profileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientServlet</display-name>
    <servlet-name>DeletePatientServlet</servlet-name>
    <servlet-class>com.Patient.Controller.DeletePatientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientServlet</servlet-name>
    <url-pattern>/deletePatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPharmacistServlet</display-name>
    <servlet-name>InsertPharmacistServlet</servlet-name>
    <servlet-class>com.AdminContent.Pharmacist.Controller.InsertPharmacistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPharmacistServlet</servlet-name>
    <url-pattern>/InsertPharmacist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePharmacistServlet</display-name>
    <servlet-name>UpdatePharmacistServlet</servlet-name>
    <servlet-class>com.AdminContent.Pharmacist.Controller.UpdatePharmacistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePharmacistServlet</servlet-name>
    <url-pattern>/updatePharmacist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePharmacistServlet</display-name>
    <servlet-name>DeletePharmacistServlet</servlet-name>
    <servlet-class>com.AdminContent.Pharmacist.Controller.DeletePharmacistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePharmacistServlet</servlet-name>
    <url-pattern>/deletePharmacist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNurseServlet</display-name>
    <servlet-name>InsertNurseServlet</servlet-name>
    <servlet-class>com.AdminContent.Nurse.Controller.InsertNurseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNurseServlet</servlet-name>
    <url-pattern>/InsertNurse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNurseServlet</display-name>
    <servlet-name>UpdateNurseServlet</servlet-name>
    <servlet-class>com.AdminContent.Nurse.Controller.UpdateNurseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNurseServlet</servlet-name>
    <url-pattern>/updateNurse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNurseServlet</display-name>
    <servlet-name>DeleteNurseServlet</servlet-name>
    <servlet-class>com.AdminContent.Nurse.Controller.DeleteNurseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNurseServlet</servlet-name>
    <url-pattern>/deleteNurse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertRecepServlet</display-name>
    <servlet-name>InsertRecepServlet</servlet-name>
    <servlet-class>com.AdminContent.Recep.Controller.InsertRecepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertRecepServlet</servlet-name>
    <url-pattern>/InsertRecep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRecepServlet</display-name>
    <servlet-name>UpdateRecepServlet</servlet-name>
    <servlet-class>com.AdminContent.Recep.Controller.UpdateRecepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRecepServlet</servlet-name>
    <url-pattern>/updateRecep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecepServlet</display-name>
    <servlet-name>DeleteRecepServlet</servlet-name>
    <servlet-class>com.AdminContent.Recep.Controller.DeleteRecepServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecepServlet</servlet-name>
    <url-pattern>/deleteRecep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAppointmentServlet</display-name>
    <servlet-name>InsertAppointmentServlet</servlet-name>
    <servlet-class>com.Appointment.Controller.InsertAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAppointmentServlet</servlet-name>
    <url-pattern>/InsertAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppointmentServlet</display-name>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <servlet-class>com.Appointment.Controller.UpdateAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppointmentServlet</servlet-name>
    <url-pattern>/updateAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAppointmentServlet</display-name>
    <servlet-name>DeleteAppointmentServlet</servlet-name>
    <servlet-class>com.Appointment.Controller.DeleteAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAppointmentServlet</servlet-name>
    <url-pattern>/deleteAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAttendServlet</display-name>
    <servlet-name>InsertAttendServlet</servlet-name>
    <servlet-class>com.Attend.Controller.InsertAttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAttendServlet</servlet-name>
    <url-pattern>/InsertAttend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttendServlet</display-name>
    <servlet-name>UpdateAttendServlet</servlet-name>
    <servlet-class>com.Attend.Controller.UpdateAttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendServlet</servlet-name>
    <url-pattern>/updateAttend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAttendServlet</display-name>
    <servlet-name>DeleteAttendServlet</servlet-name>
    <servlet-class>com.Attend.Controller.DeleteAttendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAttendServlet</servlet-name>
    <url-pattern>/deleteAttend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertMedServlet</display-name>
    <servlet-name>InsertMedServlet</servlet-name>
    <servlet-class>com.Medicine.Controller.InsertMedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertMedServlet</servlet-name>
    <url-pattern>/InsertMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMedServlet</display-name>
    <servlet-name>UpdateMedServlet</servlet-name>
    <servlet-class>com.Medicine.Controller.UpdateMedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedServlet</servlet-name>
    <url-pattern>/updateMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMedServlet</display-name>
    <servlet-name>DeleteMedServlet</servlet-name>
    <servlet-class>com.Medicine.Controller.DeleteMedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMedServlet</servlet-name>
    <url-pattern>/deleteMed</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMediServlet</display-name>
    <servlet-name>DeleteMediServlet</servlet-name>
    <servlet-class>com.Medicine.Controller.DeleteMediServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMediServlet</servlet-name>
    <url-pattern>/deleteMedi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShiftServlet</display-name>
    <servlet-name>ShiftServlet</servlet-name>
    <servlet-class>com.Shift.Controller.ShiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShiftServlet</servlet-name>
    <url-pattern>/shiftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertShiftServlet</display-name>
    <servlet-name>InsertShiftServlet</servlet-name>
    <servlet-class>com.Shift.Controller.InsertShiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertShiftServlet</servlet-name>
    <url-pattern>/InsertShift</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShiftServlet</display-name>
    <servlet-name>UpdateShiftServlet</servlet-name>
    <servlet-class>com.Shift.Controller.UpdateShiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShiftServlet</servlet-name>
    <url-pattern>/updateShift</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShiftServlet</display-name>
    <servlet-name>DeleteShiftServlet</servlet-name>
    <servlet-class>com.Shift.Controller.DeleteShiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShiftServlet</servlet-name>
    <url-pattern>/deleteShift</url-pattern>
  </servlet-mapping>
</web-app>